.user-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }
.user-list-container{
  display: flex;
  gap: 50px;
}
.user-list-wrapper {
  max-height: 400px;
  overflow-y: auto;
}